<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylespuna.css">
</head>
<body>
    <header>
    <h1>"Regiones de Jujuy"</h1>
    </header>
    <main>
    <h2>Nuestro sitio se enfoca en las cuatro regiones de nuestra provincia:</h2>
    <h3>EN JUJUY</h3>
    <h4>DESCUBRE "LA PUNA"</h4>

    <div class= "contenedor">

    <div>
    <P class="parrafo"> <strong>En la región de la Puna,</strong>
    la altitud y la vastedad del paisaje te desafían a explorar un mundo de altiplanos
    y lagunas de aguas cristalinas. Experimenta la conexión con la naturaleza en su estado más puro mientras 
    te maravillas con la flora y fauna adaptadas a estas alturas. La Puna te ofrece un viaje único a través de 
    paisajes remotos y una serenidad que solo se encuentra en las alturas.</p>
    </div>

    <img class="imagen" src="/images/puna.png" alt="imagen región Puna" width="850" height="350" align="left"/>

    </div>
    </main>
</body>

<footer>
Copyright &copy;
</footer>

</html>

