<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/stylesquebrada.css">
</head>
<body>
<header>
<h1>"Regiones de Jujuy"</h1>
</header>
<main>
<h2>Nuestro sitio se enfoca en las cuatro regiones de nuestra provincia:</h2>
<h3>EN JUJUY</h3>
<h4>DESCUBRE "LA QUEBRADA"</h4>

<div class= "contenedor">

<div>
<P class="parrafo"> <strong>Adéntrate en la majestuosa Quebrada de Humahuaca,</strong> 
declarada Patrimonio de la Humanidad. Aquí, las montañas se elevan como guardianes silenciosos mientras
te sumerges en la rica historia cultural. Descubre pueblos pintorescos, sitios arqueológicos y colores
vibrantes que narran la historia ancestral de la región. Cada rincón de la Quebrada cuenta una historia única.
</P>

</div>

<img class="imagen" src="/images/quebrada.png" alt="imagen región Quebrada" width="850" height="350" align="left"/>

</div>
</main>
</body>

<footer>
Copyright &copy;
</footer>

</html>