<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/stylesvalles.css">
</head>
<body>
<header>
<h1>"Regiones de Jujuy"</h1>
</header>
<main>
<h2>Nuestro sitio se enfoca en las cuatro regiones de nuestra provincia:</h2>
<h3>EN JUJUY</h3>
<h4>DESCUBRE "LOS VALLES"</h4>

<div class= "contenedor">

<div>
<P class="parrafo"> <strong>Los Valles de Jujuy te invitan a explorar pintorescos pueblos.</strong> 
Rodeados de campos cultivados y montañas ondulantes, los Valles ofrecen una experiencia tranquila y auténtica.
Descubre la calidez de la gente local, prueba los productos frescos de la región y déjate cautivar por la
serenidad de este rincón encantador.
</P>

</div>

<img class="imagen" src="/images/valles.png" alt="imagen región Valles" width="850" height="350" align="left"/>

</div>
</main>
</body>

<footer>
Copyright &copy;
</footer>

</html>  