<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/stylesyungas.css">
</head>
<body>
<header>
<h1>"Regiones de Jujuy"</h1>
</header>
<main>
<h2>Nuestro sitio se enfoca en las cuatro regiones de nuestra provincia:</h2>
<h3>EN JUJUY</h3>
<h4>DESCUBRE "LAS YUNGAS"</h4>

<div class= "contenedor">

<div>
<P class="parrafo"> <strong>Sumérgete en la exuberante vegetación de las Yungas,</strong>
una región donde la selva se encuentra con las montañas. Descubre una biodiversidad única mientras
exploras senderos serpenteantes que te llevarán a cascadas ocultas y maravillosas vistas panorámicas.
La frescura del clima y la riqueza natural te transportarán a un oasis verde y mágico.
</P>

</div>

<img class="imagen" src="/images/yungas.png" alt="imagen región Yungas" width="850" height="350" align="left"/>

</div>
</main>
</body>

<footer>
Copyright &copy;
</footer>

</html> 