@import url('amulya.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    font-family: almuya, sans-serif;    
    background-color: hsl(29, 93%, 72%);
    background-image: url("../images/valles.jpg");
    background-position: right top;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    
}
h1{
    text-align: center; 
    float: center;
    margin: auto;
    
}   

    h2.subtitulo {color: hwb(44 58% 0%); text-align: center; float: center; font-size: 37px;
}
p{      
    text-align: center; justify-content: center;
    float: center;
    margin: auto;
    vertical-align: center;
    font-style: italic;
    font-size: 29px;
    line-height: 25px;
    color: black;
    background-color: #f1ba52;
}